<script src="/assets/obstools/timer.js"></script> 
<div>
    <p id="RealtimeClockArea">Time</p>
</div>
<div>
    <p id="RealtimeClockArea2">Time</p>
</div>
<div>
    <p id="RealtimeClockArea3">Date</p>
</div>
<div>
    <p id="RealtimeClockArea4">Date</p>
</div>
<div>
    <p id="RealtimeClockArea5">Date</p>
</div>
<div>
    <p id="RealtimeClockArea6">Date</p>
</div>
<div>
    <p id="RealtimeClockArea7">Date</p>
</div>
<div>
    <p id="RealtimeClockArea8">Date</p>
</div>
<div>
    <p id="RealtimeClockArea9">Date</p>
</div>
<div>
    <p id="RealtimeClockArea10">Date</p>
</div>
<div>
    システム時刻を表示します｡正確な時刻と異なる場合があります｡<br>
    <br>
    ◆OBS設置方法◆<br>
    ソースに｢ブラウザ｣を追加し､｢URL｣に当ページURLを入力してください｡<br>
    ｢カスタム CSS｣を設定することができます｡<br>
    <br>
    ◆カスタム CSS設定例◆<br>
    body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; font-family: Segoe UI Black; font-size: 120px; color: #ff0000; }
</div>